<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./tests</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
-->
</phpunit>
